.user-dash {
    width: 100%;
    max-width: 1225px;
    color: #fff; /* White text color for better readability */
    font-size: 14px;
    background-color: #1B1C1F; /* Dark background for the list container */
    padding: 2rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); /* Subtle shadow for depth */
    border-top: 1.5px solid #a9a9a9; /* Border to match Add.css */
    margin: 0 auto;
}

.user-dash .header {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 2rem;
    text-align: center;
    color: #ff4135; /* Accent color */
    border-bottom: 2px solid #ff4135;
    padding-bottom: 1rem;
  }
  
  .review-btn {
    flex: 1; /* Makes the button take up 50% of the width */
    padding: 12px;
    border: none;
    background-color: #ff4135;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    align-self: center; /* Centers the buttons vertically */
    width: 48%; /* Ensure each button takes 50% of width with some margin */
  }


.all-button {
  display: flex; /* Flexbox to align buttons horizontally */
  
  gap: 10px; /* Adds space between the buttons */
  width: 100%;
}



.review-btn:first-child {
  margin-right: 10px; /* Adds some space between the buttons */
}
